@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@font-face {
	font-family: 'Orbitron';
	src: url('../Orbitron/Orbitron-Regular.ttf') format('truetype');
  }

* {
    -webkit-tap-highlight-color: transparent;
}
body {
	margin: 0;
	padding: 0;
	
}

#sidebar {
	position: fixed;
	top: 0;
	left: -150px;
	width: 200px;
	height: 100%;
	background: #080402;
	color: #fff;
	transition: all 0.5s ease-in-out;
	font-family: 'Orbitron', sans-serif;
	z-index: 1;
}

#sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	height: 100%;
}

#sidebar ul li {
	padding: 10px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

#sidebar ul li a {
	color: #d5fc26;
	text-decoration: none;
}

#sidebar.active {
	left: 0;
}

#sidebar.preview {
	left: -60px;
}

  .menu-btn-1 {
	position: absolute;
	top: 0;
	right: 10px;
	height: 28px;
	width: 38px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .sidebar-wrapper ul {
	margin-top: 40px;
  }  
  

.menu-btn-1 span,
.menu-btn-1 span::before,
.menu-btn-1 span::after {
	background: #fff;
	content: '';
	position: absolute;
	width: 40px;
	height: 6px;         
	margin-top: 13px; 

	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.menu-btn-1 span::before {
	margin-top:-12px;
}

.menu-btn-1 span::after {
	margin-top:12px;
}

.menu-btn-1 span {
	margin-left: 8px;
}

.menu-btn-1.active span {
	background: transparent;
}

.menu-btn-1.active span::before {
	margin-top: 0;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-btn-1.active span::after {
	margin-top: 0;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}



/* ---------- Icons for navigation bar ---------- */

.home_icon i {
	position: relative;
	left: 57%;
	font-size: 25px;
}

.saved_icon i {
	position: relative;
	left: 55%;
	font-size: 20px;
}

.bookmarked_icon i {
	position: relative;
	left: 31.5%;
	height: 15px;
	width: 15px;
}

.search_icon i {
	position: relative;
	left: 42.5%;
	height: 15px;
	width: 15px;
}

.about_icon i {
	position: relative;
	left: 44.5%;
	height: 15px;
	width: 15px;
}

.contact_icon i {
	position: relative;
	left:48.5%;
	height: 15px;
	width: 15px;
}















@media screen and (max-width: 900px) {
	#sidebar {
		left: -111px;
	    width: 150px;
		animation: none;
	}
	.menu-btn-1 {
		position: absolute;
		top: 0;
		right: 9.5px;
		height: 20px;
		width: 28px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	  .menu-btn-1 span,
	.menu-btn-1 span::before,
	.menu-btn-1 span::after {
		background: #fff;
		content: '';
		position: absolute;
		width: 28px;
		height: 6px;         
		padding: 0;
		margin-top: 13px; 

		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	/* icons for navigation bar*/
	.home_icon i {
		position: relative;
		left: 44.5%;
		height: 15px;
		width: 15px;
	}
	
	.saved_icon i {
		position: relative;
		left: 42.5%;
		height: 15px;
		width: 15px;
	}
	
	.bookmarked_icon i {
		position: relative;
		left: 9.5%;
		height: 15px;
		width: 15px;
	}
	
	.search_icon i {
		position: relative;
		left: 25%;
		height: 15px;
		width: 15px;
	}
	
	.about_icon i {
		position: relative;
		left: 28%;
		height: 15px;
		width: 15px;
	}
	
	.contact_icon i {
		position: relative;
		left: 33%;
		height: 15px;
		width: 15px;
	}


}


@media screen and (max-width: 768px) {
	#sidebar {
		left: -230px;
	    width: 230px;
	}
	.menu-btn-1 {
		position: absolute;
		top: 10px;
		right: -15%;
		height: 20px;
		width: 28px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	  .menu-btn-1 span,
	.menu-btn-1 span::before,
	.menu-btn-1 span::after {
		background: #000;
		content: '';
		position: absolute;
		width: 28px;
		height: 6px;         
		padding: 0;
		margin-top: 13px; 

		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	/* icons for navigation bar*/
	.home_icon i {
		position: relative;
		left: 59%;
		height: 15px;
		width: 15px;
	}
	
	.saved_icon i {
		position: relative;
		left: 57.5%;
		height: 15px;
		width: 15px;
	}
	
	.bookmarked_icon i {
		position: relative;
		left: 37%;
		height: 15px;
		width: 15px;
	}
	
	.search_icon i {
		position: relative;
		left: 46.5%;
		height: 15px;
		width: 15px;
	}
	
	.about_icon i {
		position: relative;
		left: 48%;
		height: 15px;
		width: 15px;
	}
	
	.contact_icon i {
		position: relative;
		left: 51%;
		height: 15px;
		width: 15px;
	}
	

}



