@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@font-face {
	font-family: 'Orbitron';
	src: url('../Orbitron/Orbitron-Regular.ttf') format('truetype'),
	url('../Yeseva-One/Yeseva-One-Regular.ttf') format('truetype');
  }
  @import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
* {
    -webkit-tap-highlight-color: transparent;
}
body {
	margin: 0;
	padding: 0;
}
  

#sidebar {
	position: fixed;
	top: 0;
	left: -150px;
	width: 200px;
	height: 100%;
	background: #080402;
	color: #fff;
	transition: all 0.5s ease-in-out;
	font-family: 'Orbitron', sans-serif;
	z-index: 1;
}

#sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	height: 100%;
}

#sidebar ul li {
	padding: 10px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

#sidebar ul li a {
	color: #d5fc26;
	text-decoration: none;
}

#sidebar.active {
	left: 0;
}

#sidebar.preview {
	left: -60px;
}

  .menu-btn-1 {
	position: absolute;
	top: 0;
	right: 10px;
	height: 28px;
	width: 38px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .sidebar-wrapper ul {
	margin-top: 40px;
  }  
  

.menu-btn-1 span,
.menu-btn-1 span::before,
.menu-btn-1 span::after {
	background: #fff;
	content: '';
	position: absolute;
	width: 40px;
	height: 6px;         
	margin-top: 13px; 

	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.menu-btn-1 span::before {
	margin-top:-12px;
}

.menu-btn-1 span::after {
	margin-top:12px;
}

.menu-btn-1 span {
	margin-left: 8px;
}

.menu-btn-1.active span {
	background: transparent;
}

.menu-btn-1.active span::before {
	margin-top: 0;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-btn-1.active span::after {
	margin-top: 0;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}



/* ---------- Icons for navigation bar ---------- */


.home_icon i {
	position: relative;
	left: 57%;
	font-size: 25px;
}

.saved_icon i {
	position: relative;
	left: 55%;
	font-size: 20px;
}

.bookmarked_icon i {
	position: relative;
	left: 31.5%;
	height: 15px;
	width: 15px;
}

.search_icon i {
	position: relative;
	left: 42.5%;
	height: 15px;
	width: 15px;
}

.about_icon i {
	position: relative;
	left: 44.5%;
	height: 15px;
	width: 15px;
}

.contact_icon i {
	position: relative;
	left:48.5%;
	height: 15px;
	width: 15px;
}

/* Home artist css */

.home_artist{
	position: absolute;
	right: 0;
	top: 10%;
	/* height: 100px; */
	/* width: 100px; */
}

.home_artist .tape-top{
	position: absolute;
	top: -15%;
	left: -15%;
}

.home_artist .tape-bottom{
	position: absolute;
	top: 75%;
	left: -15%;
	transform: rotate(270deg);
}

.main_text{
	position: absolute;
	top: 10%;
	left: 8vw;
}
.main_text h3{
	font-size: 6vw;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-family: 'Yeseva One', cursive;
}
.main_text h1{
	font-size: 1.2vw;
	color: #5d5d5d;
	padding-left: 3px;
	font-family: 'Orbitron', sans-serif;
}

.line_above_text img{
	width: 26.5vw;
}
/* end */


/* premium buttons */

.try_premium{
	position: absolute;
	top: 33vw;
	width: 200px;
	height: 35px;
	border: 0;
	background: none;
	box-shadow: none;
	border-radius: 0px;
	background-color: #d5fc26;
	font-family: 'Orbitron', sans-serif;
	font-size: 15px;
	padding-left: 33px;
	text-align: left;
	cursor: pointer;
}

.view_plans{
	position: absolute;
	top: 33vw;
	left: 20vw;
	width: 200px;
	height: 35px;
	background: none;
	box-shadow: none;
	border-radius: 0px;
	background-color: #ffffff;
	font-family: 'Orbitron', sans-serif;
	font-size: 15px;
	padding-left: 38px;
	text-align: left;
	border: 1px solid black;
	cursor: pointer;
}

.view_plans img{
	position: absolute;
	top: 12%;
	padding-left: 15px;
	transform: rotate(45deg);
	width: 15px;
}

.try_premium img{
	position: absolute;
	top: 12%;
	padding-left: 15px;
	transform: rotate(45deg);
	width: 15px;
}
/* end */




/* Vertical bar */

.vertical_latest {
	background-color: #080402; /* Set a background color for the bar */
	padding-top: 10px;
	padding-bottom: 10px;
	transform: rotate(-90deg);
	text-align: center; /* Center the text in the bar */
	font-size: 14px; /* Set the font size of the text */
	font-weight: bold; /* Set the font weight of the text */
	color: #d5fc26; /* Set the color of the text */
	position: absolute;
	right: 27vw;
	top: 45%;
	width: 560px;
	font-family: 'Orbitron', sans-serif;
  }

/* end */

/* popular artists */

.popular_artists {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	padding-top: 150vh;
	padding-left: 8vw;
	padding-right: 5vw;
	padding-bottom: 30px;
  }

  /* Style for the rectangle */
  .popular_artist {
	background-color: #f2f2f2;
	border: 1px solid black;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	height: 400px;
  }
  
  /* Responsive font size */
  .popular_artist h2 {
	font-size: 2vw;
  }
/* end */


.horizontal-line {
	border-bottom: 1px solid #ccc;
	opacity: 0.5;
	width: 90vw;
	position: absolute;
	top: 90%;
	margin-bottom: 10px;
}

/* secondary text */

.secondary_text{
	position: absolute;
	top: 100%;
	left: 8vw;
}

.secondary_text h3{
	font-size: 6vw;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-family: 'Yeseva One', cursive;
}

.secondary_text_popular{
	position: absolute;
	top: 150%;
	width: 300px;
	left: 7.8vw;
}

.secondary_text_popular h2{
	font-size: 1.5vw;
	font-weight: bold;
	color: #000;
	padding-left: 3px;
	position: absolute;
	top: 130%;
	font-family: 'Orbitron', sans-serif;
}

.secondary_text h1{
	font-size: 1.2vw;
	color: #5d5d5d;
	padding-left: 3px;
	font-family: 'Orbitron', sans-serif;
}

/* end */



  @media screen and (max-width: 1150px) {
	.vertical_latest {
		display: none;
	  }
	.view_plans{
		position: absolute;
		top: 37vw;
		left: 0;
	}
	.popular_artists {
		display: block;
		padding-top: 140vh;
	}
	.popular_artist{
		margin-bottom: 30px;
	}
	.secondary_text_popular{
		position: absolute;
		top: 140%;
	}
}




@media screen and (max-width: 900px) {
	#sidebar {
		left: -111px;
	    width: 150px;
		animation: none;
	}
	.menu-btn-1 {
		position: absolute;
		top: 0;
		right: 9.5px;
		height: 20px;
		width: 28px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	  .menu-btn-1 span,
	.menu-btn-1 span::before,
	.menu-btn-1 span::after {
		background: #fff;
		content: '';
		position: absolute;
		width: 28px;
		height: 6px;         
		padding: 0;
		margin-top: 13px; 

		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	/* icons for navigation bar*/
	.home_icon i {
		position: relative;
		left: 44.5%;
		height: 15px;
		width: 15px;
	}
	
	.saved_icon i {
		position: relative;
		left: 42.5%;
		height: 15px;
		width: 15px;
	}
	
	.bookmarked_icon i {
		position: relative;
		left: 9.5%;
		height: 15px;
		width: 15px;
	}
	
	.search_icon i {
		position: relative;
		left: 25%;
		height: 15px;
		width: 15px;
	}
	
	.about_icon i {
		position: relative;
		left: 28%;
		height: 15px;
		width: 15px;
	}
	
	.contact_icon i {
		position: relative;
		left: 33%;
		height: 15px;
		width: 15px;
	}


}


@media screen and (max-width: 768px) {
	#sidebar {
		left: -230px;
	    width: 230px;
	}
	.menu-btn-1 {
		position: absolute;
		top: 10px;
		right: -15%;
		height: 20px;
		width: 28px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	  .menu-btn-1 span,
	.menu-btn-1 span::before,
	.menu-btn-1 span::after {
		background: #000;
		content: '';
		position: absolute;
		width: 28px;
		height: 6px;         
		padding: 0;
		margin-top: 13px; 

		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	/* icons for navigation bar*/
	.home_icon i {
		position: relative;
		left: 59%;
		height: 15px;
		width: 15px;
	}
	
	.saved_icon i {
		position: relative;
		left: 57.5%;
		height: 15px;
		width: 15px;
	}
	
	.bookmarked_icon i {
		position: relative;
		left: 37%;
		height: 15px;
		width: 15px;
	}
	
	.search_icon i {
		position: relative;
		left: 46.5%;
		height: 15px;
		width: 15px;
	}
	
	.about_icon i {
		position: relative;
		left: 48%;
		height: 15px;
		width: 15px;
	}
	
	.contact_icon i {
		position: relative;
		left: 51%;
		height: 15px;
		width: 15px;
	}
	

}














.music-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 9999;
  }

  .controls button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
  }

  .controls button:hover {
    color: #555;
  }

  .controls button:focus {
    outline: none;
  }

  .progress-bar {
    height: 5px;
    width: 100%;
    background-color: #ccc;
    cursor: pointer;
    margin: 0 10px;
  }

  .progress {
    height: 100%;
    width: 0%;
    background-color: #333;
  }

  .song-title {
    font-size: 16px;
    font-weight: bold;
  }

  audio {
    display: none;
  }